*{
margin:0;
padding:0;
}

html {
  height: 100%;
}

body{
	position: relative;
	min-height: 100%;
	padding-bottom: 5px;
}

.center-pills {
	display: inline-block;
}

aside.sidebar {
	background-color: #f5f5f5;
	height: 100%;
}

span.compte {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #554477;
	color: #fff;
	display: block;
	padding: 20px;
}

.center-pills {
	display: inline-block;
}

aside.sidebar {
	background-color: #f5f5f5;
	height: 100%;
}

span.compte {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #554477;
	color: #fff;
	display: block;
	padding: 20px;
}




#photosalle div figure {
	display: inline-block;
	width : 20%;
	margin: 2%;
	position : relative;
	transition: 0.5s ease-out;
}

#photosalle div figure:hover{
	transform: scale(1.1);
}

#photosalle div figure img {
	width: 100%;
}
#photosalle div figure figcaption {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: #FFF;
    padding : 5px 0px; 
}

footer {
	position:absolute;
	bottom: 0;
	left: 0;
    right: 0;
	width: 100%;
	background-color: #3c3c3c;
	color: #fff;
	padding: 5px;
}
