@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

*{
margin:0;
padding:0;
}

html {
  height: 100%;
}

body{
	background-image: url(../img/fond.jpg);
	background-size: cover;
	position: relative;
	min-height: 100%;
	padding-bottom: 5px;
}

.navbar-inverse{
	background-color: #000 !important;
}

.navbar-brand{
	width: 100px;
	height: 100px;
}

ul{
margin-top: 23px !important;
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 25px;
}

.btn{
	margin-top: -10px;
	padding: 6px 15px;
	margin-right: 15px;
}

h3 {
	margin-left: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 35px;

}

h2{
	font-family: 'Ubuntu Condensed', sans-serif;
}

article {
	margin: 10px 30px 60px;
	padding: 10px;
	opacity: 0.8;
	color: #000;
}

section {
	margin-bottom: 10px;
	padding: 10px;

}

article section {
	background-color: #f5f2f2;
	border-radius: 5px;
}

.center-pills {
	display: inline-block;
}

aside.sidebar {
	background-color: #f5f5f5;
	height: 100%;
}

span.compte {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #554477;
	color: #fff;
	display: block;
	padding: 20px;
}

.center-pills {
	display: inline-block;
}

aside.sidebar {
	background-color: #f5f5f5;
	height: 100%;
}

span.compte {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #554477;
	color: #fff;
	display: block;
	padding: 20px;
}

#photosalle div figure {
	display: inline-block;
	width : 20%;
	margin: 2%;
	position : relative;
	transition: 0.5s ease-out;
}

#photosalle div figure:hover{
	transform: scale(1.1);
}

#photosalle div figure img {
	width: 100%;
}
#photosalle div figure figcaption {
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: #FFF;
    padding : 5px 0px; 
}

.col-sm-3{
	background-color: #f5f2f2;
	border-radius: 5px;
	border: 1px solid #dfe0e1;
	margin: 0 4%;
	padding: 11px;
	
}

footer {
	position:absolute;
	bottom: 0;
	left: 0;
    right: 0;
	width: 100%;
	background-color: #3c3c3c;
	color: #fff;
	padding: 5px;
}

form{
	margin-bottom:40px;
}

